@using Company_DAL.Models

@model Employee
@{
    ViewData["Title"] = "Create";
}

<h1 class="mt-4">Delete Employee</h1>
<br />
<br />
<partial name="_EmployeeReadOnlyParial"></partial>
<a asp-controller="Employee" asp-action="Index" class="ml-2 btn btn-outline-primary pt-2 pb-2 pl-5 pr-5 mt-3">Back To List</a>
