@using Company_DAL.Models

@model Department
@{
    ViewData["Title"] = "Create";
}

<h1 class="mt-4">Details for Department</h1>
<br />
<br />
<form>
    <partial name="_DepartmentReadOnlyParial"></partial>
    <a asp-controller="Department" asp-action="Update" class="btn btn-outline-info pt-2 pb-2 pl-5 pr-5 mt-3">Update Department</a>
    <a asp-controller="Department" asp-action="Index" class="btn btn-outline-primary pt-2 pb-2 pl-5 pr-5 mt-3">Back To List</a>
</form>